<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="tyylit.css">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="/manifest.json">
    <title>Kirjaudu</title>
  </head>
  <body id="kirjaudu">
    <div id="ylalaatikko">
      <h1>Kirjaudu</h1>
    </div>
    <form action="" method="POST" autocomplete="off">
    <div class="tiedot" >
        <label for="nimi">Käyttäjänimi</label>
        <input type="text" name="nimi" id="kayttajanimi">
    </div>
    <div class="tiedot" >
        <label for="salasana">Salasana</label>
        <input type="password" name="salasana" id="salasanakentta">
    </div>
        <button type="submit" id="kirjaudu">Kirjaudu</button>
    </form>
    <script>
    </script>
  </body>
</html>
